<footer id="footer">
    <img class="line" src="./img/svg/line.svg" alt="line">
    <div class="container">
        <div class="content">
            <div class="label">
                <span>Made with</span>
                <img class="heart" src="./img/svg/heart.svg" alt="heart">
                <span>by</span>
                <img class="owner" src="./img/svg/owner.svg" alt="implement">
            </div>
            <div class="social_link">
                <a href="#" target="_blank">
                    <img src="./img/svg/linkedIn.svg" alt="linedin">
                </a>
                <a href="#" target="_blank">
                    <img src="./img/svg/instagram.svg" alt="instagram">
                </a>
                <a href="#" target="_blank">
                    <img src="./img/svg/facebook.svg" alt="facebook">
                </a>
            </div>
        </div>
    </div>
</footer>